Repository microsoft/nni, pull requests merged in 2020-08, with the labels that each got.

#2719 Speedup enhancement
  src/sdk/pynni/nni/compression/torch/speedup/compressor.py
  src/sdk/pynni/nni/compression/torch/speedup/infer_shape.py
  src/sdk/pynni/tests/test_model_speedup.py
Labels: ModelSpeedup, model compression

#2734 refactor experiment summary file(to fix componentWillReceiveProps waring) and click other areas to close panel
  src/webui/src/components/Modals/ExperimentPanel.tsx
  src/webui/src/components/Modals/LogPanel.tsx
  src/webui/src/components/NavCon.tsx
  src/webui/src/components/overview/Progress.tsx
  src/webui/src/static/model/trialmanager.ts
Labels: WebUI

#2725 Fix remote machine connection logic
  src/nni_manager/training_service/remote_machine/remoteMachineTrainingService.ts
Labels: Training Service

#2742 compression benchmark
  docs/en_US/CommunitySharings/ModelCompressionComparison.md
  docs/en_US/CommunitySharings/perf_compare.rst
  docs/en_US/Compressor/Overview.md
  examples/model_compress/auto_pruners_torch.py
  examples/model_compress/comparison_of_pruners/analyze.py
  examples/model_compress/comparison_of_pruners/cifar10/comparison_result_resnet18.json
  examples/model_compress/comparison_of_pruners/cifar10/comparison_result_resnet50.json
  examples/model_compress/comparison_of_pruners/cifar10/comparison_result_vgg16.json
  examples/model_compress/comparison_of_pruners/img/performance_comparison_resnet18.png
  examples/model_compress/comparison_of_pruners/img/performance_comparison_resnet50.png
  examples/model_compress/comparison_of_pruners/img/performance_comparison_vgg16.png
  examples/model_compress/models/cifar10/resnet.py
Labels: model compression

#2684 Sensitivity pruner
  docs/en_US/Compressor/Pruner.md
  src/sdk/pynni/nni/compression/torch/pruning/__init__.py
  src/sdk/pynni/nni/compression/torch/pruning/sensitivity_pruner.py
  src/sdk/pynni/nni/compression/torch/utils/sensitivity_analysis.py
Labels: model compression

#2718 support display trial log on local mode
  src/nni_manager/common/manager.ts
  src/nni_manager/common/trainingService.ts
  src/nni_manager/core/nnimanager.ts
  src/nni_manager/core/test/mockedTrainingService.ts
  src/nni_manager/rest_server/restHandler.ts
  src/nni_manager/rest_server/test/mockedNNIManager.ts
  src/nni_manager/training_service/dlts/dltsTrainingService.ts
  src/nni_manager/training_service/kubernetes/kubernetesTrainingService.ts
  src/nni_manager/training_service/local/localTrainingService.ts
  src/nni_manager/training_service/pai/paiTrainingService.ts
  src/nni_manager/training_service/remote_machine/remoteMachineTrainingService.ts
  src/nni_manager/training_service/reusable/routerTrainingService.ts
  src/nni_manager/training_service/reusable/trialDispatcher.ts
  src/nni_manager/training_service/test/localTrainingService.test.ts
  src/webui/src/components/public-child/OpenRow.tsx
Labels: WebUI
