Repository microsoft/nni, pull requests merged in 2020-07, with the labels that each got.

#2703 Add pai job detail uri in webportal
  src/nni_manager/training_service/pai/paiConfig.ts
  src/nni_manager/training_service/pai/paiJobInfoCollector.ts
  src/nni_manager/training_service/pai/paiK8S/paiK8STrainingService.ts
  src/nni_manager/training_service/reusable/trialDispatcher.ts
Labels: Training Service

#2736 fix SimulatedAnnealingPruner export mask issue
  src/sdk/pynni/nni/compression/torch/pruning/simulated_annealing_pruner.py
Labels: model compression

#2738 add pagination & hotfix intermediate graph
  src/webui/package.json
  src/webui/src/components/trial-detail/Intermediate.tsx
  src/webui/src/components/trial-detail/TableList.tsx
  src/webui/src/static/style/pagination.scss
  src/webui/yarn.lock
Labels: WebUI

#2728 Add API to query intermediate results in NAS benchmark
  docs/en_US/NAS/BenchmarksExample.ipynb
  src/sdk/pynni/nni/nas/benchmarks/nasbench101/model.py
  src/sdk/pynni/nni/nas/benchmarks/nasbench101/query.py
  src/sdk/pynni/nni/nas/benchmarks/nasbench201/model.py
  src/sdk/pynni/nni/nas/benchmarks/nasbench201/query.py
  src/sdk/pynni/nni/nas/benchmarks/nds/model.py
  src/sdk/pynni/nni/nas/benchmarks/nds/query.py
  src/sdk/pynni/nni/nas/benchmarks/utils.py
Labels: NAS

#2737 [webui] word format (such as Experiment summary, Log files)
  src/webui/src/components/Modals/ExperimentDrawer.tsx
  src/webui/src/components/Modals/LogDrawer.tsx
  src/webui/src/components/NavCon.tsx
  src/webui/src/components/Overview.tsx
  src/webui/src/components/TrialsDetail.tsx
  src/webui/src/components/trial-detail/TableList.tsx
  src/webui/src/static/const.ts
Labels: WebUI

#2676 Compression doc structure refactor
  docs/en_US/Compressor/AutoCompression.md
  docs/en_US/Compressor/Pruner.md
  docs/img/agp_pruner.png
  examples/model_compress/README.md
  examples/model_compress/model_prune_torch.py
  src/sdk/pynni/nni/compression/tensorflow/builtin_pruners.py
  src/sdk/pynni/nni/compression/torch/pruning/admm_pruner.py
  src/sdk/pynni/nni/compression/torch/pruning/agp.py
  src/sdk/pynni/nni/compression/torch/pruning/apply_compression.py
  src/sdk/pynni/nni/compression/torch/pruning/auto_compress_pruner.py
  src/sdk/pynni/nni/compression/torch/pruning/lottery_ticket.py
  src/sdk/pynni/nni/compression/torch/pruning/net_adapt_pruner.py
  src/sdk/pynni/nni/compression/torch/pruning/one_shot.py
  src/sdk/pynni/nni/compression/torch/pruning/simulated_annealing_pruner.py
  src/sdk/pynni/nni/compression/torch/quantization/quantizers.py
  src/sdk/pynni/tests/test_compressor.py
  src/sdk/pynni/tests/test_pruners.py
Labels: model compression
