Repository microsoft/nni, pull requests merged in 2021-05, with the labels that each got.

#3608 Pin `yargs<17.0`
  ts/nni_manager/package.json
  ts/nni_manager/yarn.lock
  ts/webui/package.json
  ts/webui/yarn.lock
Labels: dependencies

#3600 Fix Hybrid mode doc
  docs/en_US/TrainingService/HybridMode.rst
Labels: Training Service, documentation

#3613 delete tensorboard on nnictl
  docs/en_US/Tutorial/Nnictl.rst
  nni/tools/nnictl/common_utils.py
  nni/tools/nnictl/nnictl.py
  nni/tools/nnictl/nnictl_utils.py
  nni/tools/nnictl/tensorboard_utils.py
Labels: Training Service

#3598 Unpin `pytorch_lightning<1.2`
  dependencies/recommended.txt
  nni/retiarii/evaluator/pytorch/lightning.py
  pipelines/full-test-linux.yml
  pipelines/full-test-windows.yml
  test/ut/retiarii/test_lightning_trainer.py
Labels: NAS, dependencies

#3607 fix retiarii config experiment_working_directory
  nni/retiarii/experiment/pytorch.py
Labels: NAS, bug

#3477 Support aml pipeline
  pipelines/integration-test-aml.yml
  test/config/training_service.yml
  test/nni_test/nnitest/generate_ts_config.py
  test/nni_test/nnitest/run_tests.py
  ts/nni_manager/core/nniDataStore.ts
Labels: P0, integration test

#3624 Improve NNI manager logging
  nni/tools/nnictl/launcher.py
  ts/nni_manager/common/log.ts
  ts/nni_manager/common/utils.ts
  ts/nni_manager/core/nnimanager.ts
  ts/nni_manager/main.ts
Labels: enhancement

#3604 Fix on log and metric issue on Windows when using pytorch with multithread
  nni/runtime/log.py
  nni/runtime/platform/local.py
Labels: Training Service, bug, external contributor

#3597 Make selected trials consistent across auto-refresh in detail table
  ts/webui/src/components/modals/Compare.tsx
  ts/webui/src/components/modals/tensorboard/TensorboardUI.tsx
  ts/webui/src/components/trial-detail/TableList.tsx
  ts/webui/src/static/style/table.scss
Labels: WebUI

#3503 Add LSQ quantizer
  docs/en_US/Compression/Overview.rst
  docs/en_US/Compression/Quantizer.rst
  examples/model_compress/quantization/LSQ_torch_quantizer.py
  nni/algorithms/compression/pytorch/quantization/quantizers.py
  nni/compression/pytorch/compressor.py
Labels: external contributor, model compression

#3629 fix the bug in line no.336 in mask_conflict.py
  nni/compression/pytorch/utils/mask_conflict.py
Labels: external contributor, model compression

#3532 Request for add NAS algorithm: Blockwise DNAS FBNet
  docs/en_US/NAS/FBNet.rst
  docs/en_US/NAS/Overview.rst
  docs/en_US/NAS/one_shot_nas.rst
  docs/img/fbnet.png
  examples/nas/oneshot/pfld/__init__.py
  examples/nas/oneshot/pfld/datasets.py
  examples/nas/oneshot/pfld/export.py
  examples/nas/oneshot/pfld/lib/__init__.py
  examples/nas/oneshot/pfld/lib/builder.py
  examples/nas/oneshot/pfld/lib/ops.py
  examples/nas/oneshot/pfld/lib/subnet.py
  examples/nas/oneshot/pfld/lib/supernet.py
  examples/nas/oneshot/pfld/lib/trainer.py
  examples/nas/oneshot/pfld/lib/utils.py
  examples/nas/oneshot/pfld/retrain.py
  examples/nas/oneshot/pfld/train.py
  nni/algorithms/nas/pytorch/fbnet/__init__.py
  nni/algorithms/nas/pytorch/fbnet/mutator.py
  nni/algorithms/nas/pytorch/fbnet/trainer.py
  nni/algorithms/nas/pytorch/fbnet/utils.py
Labels: NAS, external contributor

#3652 Support nested ModuleList and fix an issue in list append
  nni/retiarii/converter/graph_gen.py
  test/ut/retiarii/test_convert_models.py
Labels: NAS

#3648 Support hybrid and V2 config pipieline
  README.md
  pipelines/integration-test-hybrid.yml
  test/config/assessors/curvefitting-v2.yml
  test/config/assessors/medianstop-v2.yml
  test/config/customized_tuners/demotuner-sklearn-classification-v2.yml
  test/config/examples/cifar10-pytorch-v2.yml
  test/config/examples/classic-nas-pytorch-v2.yml
  test/config/examples/mnist-annotation-v2.yml
  test/config/examples/mnist-keras-v2.yml
  test/config/examples/mnist-nested-search-space-v2.yml
  test/config/examples/mnist-pytorch-v2.yml
  test/config/examples/mnist-tfv1-v2.yml
  test/config/examples/mnist-tfv2-v2.yml
  test/config/examples/sklearn-classification-v2.yml
  test/config/examples/sklearn-regression-v2.yml
  test/config/integration_tests_config_v2.yml
  test/config/metrics_test/config-v2.yml
  test/config/metrics_test/config_dict_metrics-v2.yml
  test/config/metrics_test/config_failure-v2.yml
  test/config/nnictl_experiment/sklearn-classification-v2.yml
  test/config/training_service.yml
  test/config/training_service_v2.yml
  test/config/tuners/regularized_evolution_tuner-v2.yml
  test/nni_test/nnitest/generate_ts_config.py
  test/nni_test/nnitest/run_tests.py
Labels: Training Service, integration test

#3507 [Model Compression] Update api of iterative pruners
  docs/en_US/Compression/CompressionReference.rst
  docs/en_US/Compression/CustomizeCompressor.rst
  docs/en_US/Compression/Overview.rst
  docs/en_US/Compression/Pruner.rst
  docs/img/compression_flow.jpg
  examples/model_compress/.gitignore
  examples/model_compress/end2end_compression.py
  examples/model_compress/models/cifar10/resnet.py
  examples/model_compress/models/cifar10/vgg.py
  examples/model_compress/models/mnist/lenet.py
  examples/model_compress/models/mnist/naive.py
  examples/model_compress/models/mobilenet.py
  examples/model_compress/models/mobilenet_v2.py
  examples/model_compress/pruning/amc/amc_search.py
  examples/model_compress/pruning/amc/amc_train.py
  examples/model_compress/pruning/auto_pruners_torch.py
  examples/model_compress/pruning/basic_pruners_torch.py
  examples/model_compress/pruning/finetune_kd_torch.py
  examples/model_compress/pruning/lottery_torch_mnist_fc.py
  examples/model_compress/pruning/model_speedup.py
  examples/model_compress/pruning/naive_prune_torch.py
  examples/model_compress/quantization/BNN_quantizer_cifar10.py
  examples/model_compress/quantization/DoReFaQuantizer_torch_mnist.py
  examples/model_compress/quantization/QAT_torch_quantizer.py
  examples/model_compress/quantization/mixed_precision_speedup_mnist.py
  nni/algorithms/compression/pytorch/pruning/__init__.py
  nni/algorithms/compression/pytorch/pruning/admm_pruner.py
  nni/algorithms/compression/pytorch/pruning/agp.py
  nni/algorithms/compression/pytorch/pruning/auto_compress_pruner.py
  nni/algorithms/compression/pytorch/pruning/constants_pruner.py
  nni/algorithms/compression/pytorch/pruning/dependency_aware_pruner.py
  nni/algorithms/compression/pytorch/pruning/finegrained_pruning_masker.py
  nni/algorithms/compression/pytorch/pruning/iterative_pruner.py
  nni/algorithms/compression/pytorch/pruning/lottery_ticket.py
  nni/algorithms/compression/pytorch/pruning/one_shot.py
  nni/algorithms/compression/pytorch/pruning/one_shot_pruner.py
  nni/algorithms/compression/pytorch/pruning/structured_pruning_masker.py
  nni/algorithms/compression/pytorch/quantization/quantizers.py
  nni/algorithms/compression/tensorflow/pruning/__init__.py
  nni/algorithms/compression/tensorflow/pruning/one_shot_pruner.py
  nni/compression/pytorch/compressor.py
  nni/compression/pytorch/utils/mask_conflict.py
  test/ut/sdk/test_compressor_torch.py
  test/ut/sdk/test_dependecy_aware.py
  test/ut/sdk/test_model_speedup.py
  test/ut/sdk/test_pruners.py
Labels: model compression

#3650 [Retiarii] Policy-based RL Strategy
  dependencies/recommended.txt
  dependencies/recommended_legacy.txt
  docs/requirements.txt
  nni/retiarii/strategy/__init__.py
  nni/retiarii/strategy/_rl_impl.py
  nni/retiarii/strategy/rl.py
  pipelines/full-test-linux.yml
  pipelines/full-test-windows.yml
  test/ut/retiarii/test_strategy.py
Labels: NAS

#3605 [Retiarii] Pure-python execution engine
  docs/en_US/NAS/retiarii/Advanced.rst
  nni/retiarii/__init__.py
  nni/retiarii/execution/api.py
  nni/retiarii/execution/base.py
  nni/retiarii/execution/python.py
  nni/retiarii/experiment/pytorch.py
  nni/retiarii/graph.py
  nni/retiarii/integration.py
  nni/retiarii/mutator.py
  nni/retiarii/nn/pytorch/api.py
  nni/retiarii/nn/pytorch/mutator.py
  nni/retiarii/serializer.py
  nni/retiarii/trial_entry.py
  nni/retiarii/utils.py
  test/ut/retiarii/debug_mnist_pytorch.py
  test/ut/retiarii/mnist_pytorch.json
  test/ut/retiarii/test_engine.py
  test/ut/retiarii/test_highlevel_apis.py
  test/ut/retiarii/test_mutator.py
Labels: NAS

#3481 [Retiarii] New API: Repeat and Cell
  docs/en_US/NAS/retiarii/ApiReference.rst
  nni/retiarii/converter/graph_gen.py
  nni/retiarii/converter/op_types.py
  nni/retiarii/nn/pytorch/__init__.py
  nni/retiarii/nn/pytorch/api.py
  nni/retiarii/nn/pytorch/component.py
  nni/retiarii/nn/pytorch/mutator.py
  nni/retiarii/nn/pytorch/utils.py
  test/ut/retiarii/test_highlevel_apis.py
Labels: NAS, P0

#3651 Improve search parameters on trial detail page
  ts/webui/scripts/start.js
  ts/webui/src/App.tsx
  ts/webui/src/components/TrialsDetail.tsx
  ts/webui/src/components/modals/ChildrenGap.ts
  ts/webui/src/components/trial-detail/TableList.tsx
  ts/webui/src/components/trial-detail/search/GeneralSearch.tsx
  ts/webui/src/components/trial-detail/search/Search.tsx
  ts/webui/src/components/trial-detail/search/SearchParameterConditions.tsx
  ts/webui/src/components/trial-detail/search/searchFunction.ts
  ts/webui/src/static/function.ts
  ts/webui/src/static/interface.ts
  ts/webui/src/static/style/common.scss
  ts/webui/src/static/style/search.scss
Labels: WebUI

#3614 Add TensorFlow slim pruner
  nni/algorithms/compression/tensorflow/pruning/one_shot_pruner.py
Labels: model compression

#3479 DNGO tuner
  dependencies/required_extra.txt
  docs/en_US/Tuner/BuiltinTuner.rst
  docs/en_US/Tutorial/SearchSpaceSpec.rst
  nni/algorithms/hpo/dngo_tuner.py
  nni/runtime/default_config/registered_algorithms.yml
  pipelines/fast-test.yml
  pipelines/full-test-linux.yml
  pipelines/full-test-windows.yml
  setup.py
  test/ut/sdk/test_builtin_tuners.py
Labels: HPO
