Repository microsoft/nni, pull requests merged in 2021-04, with the labels that each got.

#3541 modify the config bug about Automatic Model Pruning using NNI Tuners
  docs/en_US/Compression/AutoPruningUsingTuners.rst
  examples/model_compress/pruning/basic_pruners_torch.py
  examples/model_compress/pruning/config.yml
Labels: model compression

#3588 fix the bug in nni/compression/pytorch/speedup/infer_shape.py, line no. 625-626
  nni/compression/pytorch/speedup/infer_shape.py
Labels: ModelSpeedup

#3589 Add pipeline badge to README
  README.md
Labels: P0, integration test

#3526 Delete redundant code
  ts/nni_manager/training_service/kubernetes/frameworkcontroller/frameworkcontrollerTrainingService.ts
  ts/nni_manager/training_service/kubernetes/kubeflow/kubeflowTrainingService.ts
Labels: Training Service
